<div>
    {{#str}}location,trainingevent{{/str}}: {{name}}
    <br>
    {{#str}}startdatetime,trainingevent{{/str}}: {{startdatetime}}
    <br>
    {{#usersbooked}}
        {{#str}}usersbooked, trainingevent{{/str}}: {{usersbooked}}
        <br>
    {{/usersbooked}}
    {{#slotsleft}}
        {{#str}}slotsleft, trainingevent{{/str}}: {{slotsleft}}
        <br>
    {{/slotsleft}}
    {{#waitinglist}}
        {{#str}}waitinglistlength, trainingevent{{/str}}: {{waitinglist}}
        <br>
    {{/waitinglist}}
    {{#usersattended}}
        {{#str}}usersattended, trainingevent{{/str}}: {{usersattended}}
        <br>
    {{/usersattended}}
    <a href="{{moduleurl}}">{{#str}}details, trainingevent{{/str}}</a>
</div>