<div>
    {{#str}}location,trainingevent{{/str}}: {{name}}
    <br>
    {{#str}}startdatetime,trainingevent{{/str}}: {{startdatetime}}
    <br>
    <a href="{{moduleurl}}">{{#str}}details, trainingevent{{/str}}</a>
</div>